<ion-content>
  <p style="padding-top: 5px"></p>
  <img class="image" src="/assets/logo.png">
  <p class="mainMessage" style="padding-top: 45px; padding-bottom: 150px">Millones de canchas para elegir.</p>
  <ion-button class="facebookButtonMessage" (click)=loginWithFB()>CONTINUAR CON FACEBOOK</ion-button>
</ion-content>
