ion-content {
    --background: linear-gradient(180deg, rgba(181, 141, 0, 0) 0%, #000000 100%), #EA7E00;
}

ion-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;

    /* Azul Facebook */
    --background: #3B579D;
    --border-radius: 40px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
}

.mainMessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    height: 61px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;

    color: #FFFFFF;
}

.facebookButtonMessage {
    /* CONTINUAR CON FACEBOOK */    
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}