<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of partidos" (click)=selectCancha(p) button=true>
    <div *ngIf='p.user == user'>
      <ion-card-header>
        <ion-card-subtitle>{{ p.name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align:center;">{{ p.day }} de {{ p.month }}</p>
        <p style="text-align:center;">{{ p.time }}</p>
        <p style="text-align:center;">{{ p.address }}</p>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
