ion-button {
  --background: #EA7E00;
  --background-hover: rgb(255, 136, 0);

  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
}
  ion-img {
    max-height: 35vh;
    overflow: hidden;
  }

  #descr { 
    --padding-bottom: 40px;
  }
  
