<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Cancha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item lines="inset">
      <ion-label position="floating">Nombre de la cancha</ion-label>
      <ion-input [(ngModel)]="form.name" name="name" maxLength="15" required="true" type="text"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="floating">Región</ion-label>
      <ion-input [(ngModel)]="form.region" name="region" maxLength="15" required="true" type="text"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input [(ngModel)]="form.ciudad" name="ciudad" maxLength="15" required="true" type="text"></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="form.direcc" name="direcc" maxLength="30" required="true" type="text"></ion-input>
    </ion-item>
    <ion-item lines="inset" >
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="form.desc" name="desc" maxlength="400" required="true" type="text"></ion-textarea>
    </ion-item>
    <ion-button size="large" (click) = "presentAlert()" type="submit" expand="full">
      <ion-icon name="add"></ion-icon>
  </ion-button>
  </form>

</ion-content>
