<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-out">
<img [src]="photoService.base64Image" (click)="photoService.openGallery()">
<ion-card class="content-inside">
  <ion-card-content>
    <p>Nombre</p>
    <p>Email</p>
    <p>Ciudad</p>
    <p>Método de pago</p>
  </ion-card-content>
</ion-card>
</ion-content>
