ion-toolbar {
    --background: #4E4E4E;
    --color: #EA7E00;
}

.content-out {
    --background: #333333;
}

.content-inside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    width: 275px;
    height: 240px;

    --background: #2D2D2D;
    --color: #EA7E00;
    border-radius: 40px;

    text-align: center;
}

p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    padding-top: 14px;
    padding-bottom: 14px;
}

img {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}