<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Elige horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>{{ cancha.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Propietario: {{ cancha.owner }}</p>
      <p>Dirección: {{ cancha.address }}</p>
      <div id="map"></div>

    </ion-card-content>
  </ion-card>

  <ion-card (click)="pickDate()" button=true>
    <ion-card-header style="text-align:center; font-size:16px;">
      <p>Selecciona fecha</p>
    </ion-card-header>
  </ion-card>

    <ion-card id="0" style="display:none;" (click)="chosenTime('11:00')" button=true>
      <ion-card-content>
        <p style='text-align:center'>11:00</p>
      </ion-card-content>
    </ion-card>
    <ion-card id="1" style="display:none;" (click)="chosenTime('13:00')" button=true>
      <ion-card-content>
        <p style='text-align:center'>13:00</p>
      </ion-card-content>
    </ion-card>
    <ion-card id="2" style="display:none;" (click)="chosenTime('15:00')" button=true>
      <ion-card-content>
        <p style='text-align:center'>15:00</p>
      </ion-card-content>
    </ion-card>
    <ion-card id="3" style="display:none;" (click)="chosenTime('17:00')" button=true>
      <ion-card-content>
        <p style='text-align:center'>17:00</p>
      </ion-card-content>
    </ion-card>
    <ion-card id="4" style="display:none;" (click)="chosenTime('19:00')" button=true>
      <ion-card-content>
        <p style='text-align:center'>19:00</p>
      </ion-card-content>
    </ion-card>

</ion-content>