img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  
  ion-item {
    --padding-start: 30px;
    --padding-end: 30px;
  }
  
  ion-button {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 40px;
  
    width: 223px;
    height: 50px;
  
    --background: url("/assets/loginButtonBackground.png");
  }