<ion-header>
  <ion-toolbar>
    <ion-title>Crea tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-content>
<img [src]="picture">
<form (ngSubmit)="logForm()">
  <ion-item lines="inset">
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="form.name" name="name" maxLength="15" required="true" type="text"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="form.email" name="email" maxLength="20" required="true" type="email"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Ciudad</ion-label>
    <ion-input [(ngModel)]="form.city" name="city" readonly="true" required="true" (click)="openCityPicker()"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Medio preferente de pago</ion-label>
    <ion-input [(ngModel)]="form.paymentMethod" name="paymentMethod" readonly="true" required="true" (click)="openPaymentMethodPicker()"></ion-input>
  </ion-item>
  <ion-button type="submit"></ion-button>
</form>
</ion-content>
