<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Unirse a partido</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let p of partidos" (click)=presentAlert() button=true>
      <ion-card-header>
        <ion-card-title>{{ p.name }}</ion-card-title>
      </ion-card-header>
      <ion-img src={{p.picture}}></ion-img>
      <ion-card-content>
        <p>{{ p.day }} - {{ p.month }} {{ p.time }} Jugadores: {{ p.players }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  