<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Elige cancha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let c of canchas" (click)=selectCancha(c) button=true>
    <ion-card-header>
      <ion-card-subtitle>{{ c.name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-img [src]="c.picture"></ion-img>
    <ion-card-content>
      <p>{{ c.address }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
