ion-toolbar {
    --background: #4E4E4E;
    --color: #EA7E00;
}

ion-content {
    --background: #333333;
}

ion-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    --background: white;
    --color: black;
    width: 250px;
}

.crearPartidoButtonStyle {
    display: block;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 223px;
    height: 50px;

    --background: #EA7E00;
    --border-color: 1px solid #000000;
    --border-radius: 40px;
}

.unirseAPartidoButtonStyle {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 223px;
    height: 50px;

    --background: #EA7E00;
    --border-color: 1px solid #000000;
    --border-radius: 40px;
}

ion-img {
    width: 50px;
    height: 50px;
}