<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-button class="crearPartidoButtonStyle" (click)="goCreatePage()">Crear Partido</ion-button>
    <ion-button class="unirseAPartidoButtonStyle" (click)="goJoinPage()">Unirse a un Partido</ion-button>
  </ion-content>
  